.navbar{
   grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      padding: 10px;
      background-color: aquamarine;
}

.nav__list{

}

.nav__element{
margin: 0px 10px;
}

.nav__link{
   color:#000;
   &:hover{
      color: blue;
   }
}