.dialog {
   border: 1px solid #000;
   margin: 0px 0px 10px 0px;
   padding: 10px;
   display: block;
}

.active {
   border: 1px solid blue;
   margin: 0px 0px 10px 0px;
   padding: 10px;
   display: block;
   background-color: rgba(39, 71, 123, 0.5)
}